# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Hugging Face cache
~/.cache/huggingface/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
